[MASTER]
# Python version used to run Pylint.
py-version=3.11

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120

# Maximum number of lines in a module
max-module-lines=1000

[DESIGN]
min-public-methods=0

[MESSAGES CONTROL]
disable=relative-beyond-top-level